@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a{
  color: var(--color-dark);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

h1{
  font-weight: 800;
  font-size: 1.4rem;
}

h2{
  font-weight: 600;
  font-size: 1.1rem;
}

h3{
  font-weight: 500;
  font-size: 0.70rem;
}

small{
  font-size: 0.70rem;
}

input {
  max-width: 100%;
  padding: .35rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

textarea{
  max-width: 100%;
  padding: .35rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

select {
  max-width: 100%;
  padding: .35rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

p{
  color: var(--color-dark-variant);
}

b{
  color: var(--color-dark);
}

.text-muted{
  color: var(--color-info-dark);
}

.primary{
  color: var(--color-primary);
}

.danger{
  color: var(--color-danger);
}

.success{
  color: var(--color-success);
}

.warning{
  color: var(--color-warning);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.2rem;
  grid-template-columns: 230px 1fr;
}

.containerMain {
  justify-content: center;
  gap : 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Permite el desplazamiento vertical en el main */
  height: 100vh - 3.4rem;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
  scrollbar-width: none;
}

.containerMain::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

aside{
  height: 100vh;
  display: block;
  overflow: hidden;
}

.asideMain{
  
}

aside .toggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .toggle .logo{
  display: flex;
  gap: 0.5rem;
}

aside .toggle .logo img{
  width: 2rem;
  height: 2rem;
}

aside .toggle .close{
  padding-right: 1rem;
  display: none;
}

.asideMain .open {
  padding-right: 10rem;
  display: none;
}

aside .sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 88vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover{
  box-shadow: none;
}

aside .sidebar a{
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a img{
  width: 40px; 
  height: 40px; 
  transition: all 0.3s ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active{
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active::before{
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}

aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 0.6rem;
}

aside .sidebar .message-count{
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

.main{
  margin-top: 1.8rem;
}

button {
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 9em;
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-primary);
  margin: 5px;
}
button:hover {
  border-color: #3c3c3c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.responsive-heading::after {
  content: 'ProGanadero';
}
 

@media screen and (max-width: 1200px) {
  .container{
      width: 95%;
      grid-template-columns: 100px 3fr;
  }

  aside .logo h2{
      display: none;
  }

  aside .sidebar h3{
      display: none;
  }

  aside .sidebar a{
      width: 5.6rem;
  }


  aside .sidebar a:last-child{
      position: relative;
      margin-top: 1.8rem;
  }
  
  aside .sidebar a:last-child{
      position: relative;
      margin-top: 1.8rem;
  }
  .responsive-heading::after {
    content: 'PG';
  }

}





@media screen and (max-width: 767px) {
  .container{
      width: 100%;
      grid-template-columns: 1fr;
      padding: 0 .6rem;
      gap: 0;
  }

  
  .toggle{
    height: 30px;
  }

  aside{
    position: fixed;
    background-color: var(--color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  aside .open {
    animation: hideMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to{
    left: 0;
    } 
  }

  @keyframes hideMenu {
    to {
      left: -100%;
    }
  }

  aside .logo{
    margin-left: 1rem;
  }

  aside .logo h2{
    display: inline;
  }

  aside .sidebar h3{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
  }

  aside .toggle .close{
    display: inline-block;
    cursor: pointer;
    margin-top: 0.4rem;
    margin-left: 0.2rem;
  }

  .asideMain .open{
    display: inline-block;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-left: 0.2rem;
  }

  .containerMain{
    margin: .5rem 0;
  }

  .responsive-heading::after {
    content: 'ProGanadero';
  }

  
}

