.containerMain .finanzas{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.containerMain .finanzas .title {
  display: flex;
  align-items: start;
  gap: .6rem;
}

.containerMain .finanzas-main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.containerMain .finanzas-main .grafico-main {
  display: flex;
  flex-direction: column;
  margin: .8rem 0;
  gap: .8rem;
}

.containerMain .finanzas-main .grafico-main .grafico-fechas {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.containerMain .finanzas-main .grafico-main .grafico-fechas .fechas{
  display: flex;
  gap: .6rem;
}

.containerMain .finanzas-main .grafico-main .grafico-fechas label{
  display: flex;
  gap: .4rem;
}

.containerMain .finanzas-main .section-one{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.containerMain .finanzas-main .Balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .4rem;
  gap: .6rem;
}

.containerMain .finanzas-main .Balance .Balance-content {
  display: flex;
  align-items: center; 
  flex-direction: column;
  gap: .7rem;
}

.containerMain .finanzas-main .Balance .Balance-content .parte-superior,
.containerMain .finanzas-main .Balance .Balance-content .parte-inferior {
  display: flex;
  justify-content: center;
  width: 100%;  
  gap: .7rem;
}

.containerMain .finanzas-main .Balance .Balance-content .ingresos,
.containerMain .finanzas-main .Balance .Balance-content .egresos,
.containerMain .finanzas-main .Balance .Balance-content .total {
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: .5rem;  
  border: solid 3px var(--color-primary);
  background-color: var(--color-white); 
  border-radius: .3rem;
}

.containerMain .finanzas-main .Balance .Balance-content .ingresos img,
.containerMain .finanzas-main .Balance .Balance-content .egresos img,
.containerMain .finanzas-main .Balance .Balance-content .total img {
  width: 2.2rem;
  height: 2.2rem;
}

.containerMain .finanzas-main .Balance .Balance-content .ingresos {
  border-color: var(--color-success);
}

.containerMain .finanzas-main .Balance .Balance-content .egresos {
  border-color: var(--color-danger);
}

.containerMain .finanzas-main .form {
  display: flex;
  flex-direction: column;
  gap: .7rem;
  padding: .8rem;
  background-color: var(--color-white);
}

.containerMain .finanzas-main .form .form-body {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.containerMain .finanzas-main .form .form-body .form-tipo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .8rem; 
  margin-bottom: .4rem; 
}

.containerMain .finanzas-main .form .form-body .form-tipo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  border: 2px solid var(--color-primary);
}

.containerMain .finanzas-main .form .form-body .form-input {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.containerMain .finanzas-main .lista-transacciones {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding: .8rem;  
  min-width: 350px;
  background-color: var(--color-white);
}

.containerMain .finanzas-main .lista-transacciones .scroll-trasacciones {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: scroll;
  gap: 1rem;
  margin: 1rem 0;
}

.containerMain .finanzas-main .lista-transacciones .scroll-trasacciones .TransaccionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; 
  border-radius: 1px solid var(--color-primary);
  border: 2px solid var(--color-black);
  padding: .3rem 1rem;
}

.containerMain .finanzas-main .lista-transacciones .scroll-trasacciones .TransaccionItem img {
  width: 2.2rem;
  height: 2.2rem;
}

.section-one .form .Fields-modal-dos .incluir-insumos{
  border-color: black;
  border: groove;
  border-radius: 6px;
  padding: 4px;
  gap: .2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  Aflex-direction: row;
}

.section-one .form .Fields-modal-dos .nombre-medida {
  display: flex;
  flex-direction: row;
  gap: .6rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .containerMain .finanzas-main .lista-transacciones {
    min-width: auto;
  }
  
}

@media screen and (max-width: 860px) {
  .section-one .form .Fields-modal-dos .incluir-insumos{
    flex-wrap: wrap;
  }

  .section-one .form .Fields-modal-dos .nombre-medida {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 768px) {
  .containerMain .finanzas-main {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 525px) {
  .containerMain .finanzas-main .Balance .Balance-content .parte-superior,
  .containerMain .finanzas-main .Balance .Balance-content .parte-inferior{
    flex-direction: column;
  }

  .containerMain .finanzas-main .grafico-main .grafico-fechas .fechas{
    flex-direction: column;
  }
  
}

