.raiz {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

.Footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 100%;
}

.Footer .BotonesPrincipales{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.Footer button{
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary);
  margin: 5px;
}

.gestacion, .inseminacion {
  display: flex;
  flex-direction: column;
}

.gestacion .cards, .inseminacion .cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
}

@media screen and (max-width: 767px) {
  .Footer .BotonesPrincipales{
    flex-direction: column;
  }
  
}