.raiz {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-content: center;
  gap: 20px;
}

.Footer{
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.Footer button{
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-primary);
  margin: 5px;
}

.gestacion, .inseminacion {
  display: flex;
  flex-direction: column;
}

.gestacion .cards, .inseminacion .cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
}