.SectionOne {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.SectionOne div {
  display: flex;
  gap: 10px;
  justify-content: space-between ;
  align-items: center;
}

.SectionOne .LineOne .resNumero, .TarjetaLinaje .info .resNumero {
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--color-white);
}

.listImg {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  width: 100%;
  overflow-x: scroll;
}

.listImg img {
  max-width: 180px;
  max-height: 100px;
}

.res-individual{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.res-individual-main {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  margin: 1rem 0;
}

.galeria{
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 1.2rem;
}

.res-individual-main .imagenPrincipal{
  max-width: 480px;
  max-height: 300px;
}
 
/* .TarjetaLinaje, .TarjetaRegistro{
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  font-size: var(--font-size);
  border: 2px solid var(--primary-color); 
  padding: .7rem;
  margin: .4rem; 
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.TarjetaLinaje, .TarjetaRegistro {
  color: var(--secondary-color);
  font-size: var(--font-size);
  border: 2px solid var(--primary-color); 
  padding: .6rem;
  margin: .3rem; 
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.TarjetaRegistro .contenido {
  display: flex;
  flex-direction: column;
  padding: .7rem 0;
}

.TarjetaRegistro > :last-child{
  display: flex;
  align-self: flex-end;
  justify-content: end;
}

.TarjetaRegistro .numero p{
  display: inline-flex;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: var(--color-white);
  border-radius: 8px;
  padding: .1rem .3rem;
}

.TarjetaLinaje .image-container {
  position: relative;
  width: 180px;
  height: 100px;
}

.TarjetaLinaje .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.TarjetaLinaje .image-container .familiaridad {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  padding: 0.2rem 0.5rem;
  border-radius: 8px 0;
  margin: 0;
}

.TarjetaLinaje .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.TarjetaLinaje .info h2{
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 11ch;
  
}

.Linaje{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}


/* .ListaRegistros::-webkit-scrollbar,
.ListImg::-webkit-scrollbar {
  width: 100%;              
}

.ListaRegistros::-webkit-scrollbar-track,
.ListImg::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.068);       
}

.ListaRegistros::-webkit-scrollbar-thumb,
.ListImg::-webkit-scrollbar-thumb {
  background-color: rgba(227, 225, 225, 0.6);;  
  border-radius: 20px;     
  border: 2px solid rgba(0, 0, 0, 0.068);;  
} */


.ListaRegistros{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  width: 100%;
  overflow-x: scroll;
}


@media screen and (max-width: 768px){
  .res-individual-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .res-individual-main .info-res{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  .SectionOne{
    flex-direction: column;
    
  }
  .SectionOne div{
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
  }

  .SectionOne .LineOne{
    display: flex;
    justify-content: space-between;    
  }
}