.resList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.resList div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.resList .resList-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;
  width: 100%;
}

.resList-top input[type="search"] {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  max-width: 20rem;
  border: 1px solid #ccc;
}

.resList-top button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.resList .card {
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  font-size: var(--font-size);
  border: 2px solid var(--primary-color); 
  padding: 1rem;
  margin: 10px;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 8px;
  min-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resList .card img {
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.resList  .card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 180px;
  padding: 0 0 .5rem 0;
}

.resList  .card-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.resList  .card-info p {
  color:rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.resList .especial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.resList .link {
  width: 100%;
}

.resList .actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.actions button {
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.actions .delete {
  background-color: #ff4c4c;

}

.actions .edit {
  background-color: #3f3e31;
  color: black;
}

.actions .view-more {
  background-color: #3b8bff;
}

@media screen and (max-width: 767px) {
  .resList div {
    flex-direction: column;
  }

  .resList-top input[type="search"] {
    max-width: 6.6rem;
    font-size: 0.47rem;
  }
  
  .resList .card {
    flex-direction: column;
    min-width: 300px;
  }

}

