
.Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;


}
.ServiciosMain{
  display: flex;
  flex-direction: column;


}

.ImagenPrueba{
  width: 100px;
  height: 100px;
}

.FiltroServicios{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}