

.Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ServiciosMain{
  display: flex;
  flex-direction: column;
}

.FiltroServicios{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 767px) {
}