.Servicios {
  margin-top: 5rem;
}

.Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ServiciosMain{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.FiltroServicios{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 767px) {
}